<div class="footer">
  <ul>
      <li>
      <a href="https://www.linkedin.com/in/lucas-becker-712237169/">Linkedin</a>
      </li>
      <li>
          <a href="https://github.com/LucBecker">GitHub</a>
      </li>
      <li>
        <a href="https://lucasbecker.vercel.app/">Portfolio</a>
      </li>
      <li>
          <a href="https://www.quora.com/profile/Lucas-Becker-4">News</a>
      </li>
      <li>
          <a href="https://github.com/LucBecker">Quora</a>
      </li>
      <li>
          <a routerLink="/seller-auth">Become a Seller</a>
      </li>
      <li>
          <a href="">FAQ</a>
      </li>
    </ul>
    <p>© 2023 Powered by Lucas Becker</p>
</div>
